*{padding: 0;margin: 0}
body{font-family: "微软雅黑", sans-serif}
img{border: none}
ul,li{
    list-style: none;
}
/*头部区域开始*/
#header{
    width: 1210px;
    height: 150px;
    position: relative;
    left: 50%;
    margin-left: -605px;
}
#header .logo{
    position: absolute;
    left: 0;
    top: 50px;
}
#header .explain{
    position: absolute;
    left: 261px;
    top: 61px;
}
#header .explain a.list1{
    position: absolute;
    top: 0;
    left: 0;
}
#header .explain a.list2{
    position: absolute;
    left: 85px;
    top: 0;
}
#header .explain a.list3{
    position: absolute;
    left: 168px;
    top: 0;
}
#header .phone-nub{
    position: absolute;
    right: 0px;
    top:50px;
}
#tooltip{padding: 1px;position: absolute;display: none;background: #ffffff;}
/*头部区域结束*/

/*导航条开始*/
.nav-background{
    width: 100%;
    height: 50px;
    background: #3c3c3c;
    position: relative;
    z-index: 2;
}
#nav{
    width: 1210px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -605px;
    z-index: 2;
}
#nav ul{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #3c3c3c;
}
#nav ul li{
    color: #FFF;
    float: left;
    padding: 0 10px;
    cursor:pointer;
}
#nav ul li a{
    color: #FFF;
}
#nav ul li:hover{
    background: #101010;
}
#nav-div2{
    position: absolute;
    height: 0;
    width: 100%;
    border:solid 1px #a9a9a9 ;
    border-top: none;
    border-bottom: none;
    background: #F9AF2A;
    cursor: pointer;
    display: none;
    z-index: 2;
}
#nav-div2 a{
    position: relative;
    top: 20px;
    text-decoration: none;
    color: darkred;
    margin: 20px;
    border: 1px solid #F9AF2A;
}
#nav-div2 a:hover{
    text-decoration: none;
    color: #FFF;
    border: 1px solid darkred;
    background:darkred ;
}

#nav #contactInformation{
    width: 200px;
    height: 150px;
    position: absolute;
    left: 210px;
    display: none;
}
#nav #contactInformation a{
    width: 220px;
    height: 50px;
    display: block;
    text-align: left;
    line-height: 50px;
    font-size:18px;
    padding-left: 10px;
}
#nav #contactInformation a.phone{
    background:#162e2e;
    color: #1bbc9b;
}
#nav #contactInformation a.email{
    background:#312e1f;
    color: #fdbd1f;
}
#nav #contactInformation a.advice{
    background:#2f2123;
    color: #c54337;
}
/*导航条结束*/
/*商品展示区域开始*/
#myDisplay{
    width: 1210px;
    height: 630px;
    position: relative;
    margin-top: 38px;
    left: 50%;
    margin-left: -605px;
}
#myDisplay #displayHeader{
    position: absolute;
    top: 460px;
}
#myDisplay #displayHeader li{
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 12px;
    background: lightseagreen;
    cursor: pointer;
}
#myDisplay #displayBody li{
    width: 449px;
    height: 449px;
    display: none;
    position: relative;
}
#myDisplay #displayBody li.select{
    width: 449px;
    height: 449px;
    display: block;
}
/*放大镜效果的布局*/
#tab {  position: relative;  width: 450px;  height: 450px; background: #CDE074;  z-index: 2;}
#mark {  position: absolute;  top: 0;  left: 0;  width: 140px;  height: 140px;  background: #B00000;  opacity: 0.5;  filter: alpha(opacity=50);  cursor: move;  }
#container{ position:absolute; height:450px; width:450px; background:pink; overflow:hidden;left: 480px;top: 0px;z-index: 2;}
#bigImg{ position:absolute; display:block; border:none;}
/*商品展示右侧区域*/
#myDisplay .right{
    position: absolute;
    left: 500px;
    top: 19px;
}
#myDisplay .right .title span{
    position: absolute;
    top: 34px;
    font-family: "Arial";
    font-size: 12px;
    color: #c40000;
}
#myDisplay .right .price{
    position: absolute;
    top: 109px;
}
/*商品展示区域结束*/



/*默认的全局使用样式*/
a{
    text-decoration: none;
}
.clear{
    clear: both;
}